*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    
}
body{
    background: linear-gradient(#111,#222);
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

}
body::before{
    content:'';
    width:100%;
    height:100%;
    background-color: rgb(138, 44, 80);
    position: absolute;
    z-index: -1;
    clip-path:circle(60% at right 30%)
}

body::after{
    content:'';
    width:100%;
    height:100%;
    background-color: rgb(167, 132, 123);
    position: absolute;
    z-index: -1;
    clip-path:circle(40% at right 20%)

}
body::content{
    content: '';
    width:100%;
    height:100%;
     background-color: rgb(167, 132, 123); 
    position: absolute;
    z-index: -1;
     clip-path:calc(60% at left 30%) 
}



.container{
    width:80%;
    height: 80%;
    background:#fff;
    background: rgba(255,255,255,0.1);
    border-radius: 30px;
    overflow: hidden;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin:auto; 
    padding:20px 0px ;
}
nav .logo{
    color:#f39595;
    text-decoration:none;   
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul li{
    display:inline-block;
    margin: 0 6px;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}
nav ul li a:hover{
    color: red;
    
}
.content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}
.content .text{
    color:rgb(191, 141, 141);
    width: 40%;

}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.content.text p{
    font-size: 18px;
    line-height: 25px; 
    margin: 10px ;
    letter-spacing: 1px;
}

.image{
    
        /* transform: scaleX(-1); */
        width:200px;
        height:600px;
} 
.content .image {
    width:40%;
}
.content .image img{
    width:400px;
}

@media  (min-width:950px) and (max-width:1150px) {
     
    
     .content .image img{ 
        width:330x;
    }
    
}
@media (max-width:950px){
    .content,nav{
        flex-direction: column;                    /* layer in col */
        justify-content: center;
    }
    .content .image, .content .text{
        width: 80%;
    }
    body::after{
        clip-path:circle(50% at bottom);
    }
} 
